*{
    font-style: normal;
}

body{
    background-color: rgb(66, 75, 90);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#page{
    background-color: white;
}

header{
    color: white;
    font-size: 67px;
    font-family: "dancing script";
    background-image: url(../media/header.jpg)
    
}

#myself{
    width: 300px;
}

h1{
    font-style: normal;
    color: darkslategray;
    border-bottom: 3px solid darkslategray;
}

footer{
    color: white;
    font-size: 30px;
    font-family: "dancing script";
    padding: 10px;
    background-image: url(../media/header.jpg)
}




   
    
